<!-- !DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" -->
<html>
<head>
<title>Web Broker Indy Demo</title>
<link rel="stylesheet" type="text/css" href="css/main.css" />

</head>
<body>
<div id="wrapper">
   <div class="banner">
       <a href="/one">First page</a> - 
       <a href="/two">Second page</a>
    </div>
    
    <div class="content-top">
       <h1>Web Broker Indy Demo</h1>
    </div>     
        
    <div class="content">

  <img src="images/wintechlogo.jpg" />

  <hr>

  
  <div>Dynamic list of items:
    <br>
    <div id="list" style="padding-left: 40px"><#randomlist></div>
    <br>
  </div>
  
  <hr>

    </div>  <!-- content -->
  
   <div class="banner">
     <div>
        Demo by <a href="http://www.marcocantu.com">Marco Cantù</a>
     </div>           
    </div>
 
 </div>  <!-- wrapper -->  
</body>
</html>